<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="28"
        tools:ignore="GoogleAppIndexingWarning"
    >
    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyA45cVTPi8-ePUls0EQsv2q7nSAZIUux9Y"
    />
    </application>

    
</manifest>
